@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
    outline: none;
}

.material-icons {
    font-size: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

header, article, nav, aside {
    padding: 1em;
}

.main-header {
    text-transform: uppercase;
    background: #15D9C4;
    color: white;
    font-size: 35px;
    padding: 0.5em;
    font-weight: 400;
}

.main-content {
    display: flex;
    flex: 1;
}

.main-view {
    overflow-y: auto;
}

.vuedex-filters {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
        0 1px 5px 0 rgba(0,0,0,0.12),
        0 3px 1px -2px rgba(0,0,0,0.2);
}

.checkboxes-list-title {
    margin-bottom: 0px;
}

.checkboxes-list {
    overflow-y: auto;
}

.vuers-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 76px);
}

/* vuer card */
.vuer-card {
    margin: 5px;
    position: relative;
    height: 170px;
    width: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    border-radius: 2px;
}

.vuer-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.vuer-card .background-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.vuer-card .background-wrapper div {
    flex-grow: 1;
}

.vuer-card .remove-vuer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.vuer-card:hover .remove-vuer {
    display: inline-block;
}

.vuer-card .remove-vuer:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.vuer-card .image-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vuer-card .vuer-image {
    height: 110px;
    border-radius: 50%;
}

.vuer-card .vuer-title {
    color: white;
    text-decoration: none;
    height: 40px;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-transform: capitalize; */
}
/* End vuer card */

/* Nice input */
/* from https://codepen.io/Takumari85/pen/RaYwpJ */
.nice-input-wrapper {
    position: relative;
}
.nice-input{
    font: 15px/24px 'Muli', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
.nice-input{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}
.nice-input ~ .focus-border:before,
.nice-input ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #15D9C4; transition: 0.3s;}
.nice-input ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.nice-input ~ .focus-border i:before,
.nice-input ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #15D9C4; transition: 0.4s;}
.nice-input ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.nice-input:focus ~ .focus-border:before,
.nice-input:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
.nice-input:focus ~ .focus-border i:before,
.nice-input:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}
/* End Nice input */

/* Nice checkbox */
/* from https://codepen.io/hansmaad/pen/qaGrQL */
.md-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin: 16px 0;
  text-align: left;
}
.md-checkbox.md-checkbox-inline {
  display: inline-block;
}
.md-checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
}

.md-checkbox label .label-title {
    margin: 0px 5px;
}

.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.md-checkbox label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s;
}
.md-checkbox input[type="checkbox"] {
  outline: 0;
  margin-right: 10px;
  visibility: hidden;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #15D9C4;
  border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg);
  top: 5px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}
/* End Nice checkbox */